.timeline {
    width: 100%;
    position: relative;
    overflow: hidden;

    @import './TimeBlock/time-block';
    @import './TimelineEvent/timeline-event';
    @import './TimelineEventContainer/timeline-event-container';
}
  