.content {
  &-body {
    padding: 10px;
  }


  &-flex {
    display: flex;
    flex-direction: column;

    .content-body {
      height: 0;
      display: flex;
      flex-direction: column;
      flex: 1 0 0;
    }
  }
}