#request-timeline-root {
  .requests-filter {
    margin-left: auto;

    input {
      margin: 0;
      padding: 0 12px;
      width: 200px;
      height: 36px;
      font-size: 18px;
      line-height: 20px;
      border: 0;
      background: #dedede;
    }
  }

  .navbar-brand {
    color: #fff;
  }

  .request-navi {
    margin: 0 auto 0 0;
    display: flex;
    align-items: center;

    .request-type {
      &-icon {
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin: 0 8px 0 0;
      }
    }

    .requests-clear{
      cursor: pointer;
    }

    .request-info {
      .badge {
        margin-right: 8px
      }
    }

  }

  .requests-picker {
    .requests-clear {
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .request-decode-error {
    color: red;
    font-weight: bold;

    .dark & {
      color: rgb(153, 0, 0);
    }
  }

  .event-details {
    padding-top: 20px;

    .sql-hl-keyword {
      font-weight: bold;
      color: blue;

      .dark & {
        color: #4197ff;
      }
    }

    .sql-hl-string {
      color: red;
      font-weight: 500;

      .dark & {
        color: #ca2525;
      }
    }
  }
}
