#toast-container {
  .animated {
    animation-duration: 0.2s !important;
    animation-fill-mode: both !important;
  }

  > div {
    margin: 6px 0 0;
    padding: 8px 8px 8px 40px;
    background-position: 8px center;
    background-size: 24px auto;
  }

  .toast:not(.show) {
    display: block;
  }

  .toast-title {
    font-size: 16px;
    line-height: 24px;
  }

  .toast-message {
    font-size: 14px;
    line-height: 18px;
  }

  .dark & {
    font-weight: 600;

    .toast-info {
      box-shadow: 0 0 12px #333;
      color: #fff;
      background-color: #0d7291;
    }

    .toast-success {
      box-shadow: 0 0 12px #047a00;
      color: #fff;
      background-color: #03630b;
    }

    .toast-warning {
      box-shadow: 0 0 12px #b36b00;
      color: #fff;
      background-color: #9c7301;
    }

    .toast-error {
      box-shadow: 0 0 12px #960707;
      color: #fff;
      background-color: #790000;
    }
  }
}
